@model Unidad1Actividad1.Models.MiPerfilViewModel
<head>
    <title>Perfil</title>
    <style>
        html{
            background-color:silver;
            font-family:'Arial Rounded MT';
        }
    </style>
</head>
<body>
    <h1>Perfil</h1>
    <img width="200" height="200" src="/Imagen/gato.jpg" />
    <dl>
        <dt>Nombre</dt>
        <dd>Sergio Emanuel Ramos Rodriguez</dd>
        <dt>Edad:</dt>
        <dd>20 años</dd>
        <dt>Numero de control:</dt>
        <dd>201G0278</dd>
        <dt>Numero de telefono:</dt>
        <dd>8611604216</dd>
        
    </dl>
</body>

